{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
         Complete
        </h1>
        <div class="govuk-panel__body">
          Land details send to HM Land Registry
        </div>
      </div>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We've sent your application to HM Land Registry.
      </p>

      <p>
        They will only contact you if they receive information that affects your land.
      </p>
      <p>
        <a href="https://customerhelp.landregistry.gov.uk/complaintswebform/">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
